model/__pycache__/
stress/
profiling.json
_korali_result_cmaes/
prof.png
profiling.json
watch.png
checkup.ipynb
log*
model/test_posteriorModel.py
model/velo_prof.csv
checkup.ipynb
.vscode/settings.json
model/__pycache__/mirheoModel.cpython-310.pyc
model/__pycache__/posteriorModel.cpython-310.pyc
model/parameters
