Hierarchical_UQ_water/model/__pycache__/
Hierarchical_UQ_water/model/virialstress/
model/__pycache__/
velocities/
stress/
profiling.json
_korali_result_cmaes/
prof.png
profiling.json
watch.png
checkup.ipynb
log*
model/test_posteriorModel.py
model/velo_prof.csv
checkup.ipynb
.vscode/settings.json
model/__pycache__/mirheoModel.cpython-310.pyc
model/__pycache__/posteriorModel.cpython-310.pyc
model/parameters
model/h5/00000.h5
model/h5/00000.xmf
model/h5/00001.h5
model/h5/00001.xmf
model/h5/00002.h5
model/h5/00002.xmf
model/h5/00003.h5
model/h5/00003.xmf
model/h5/00004.h5
model/h5/00004.xmf
model/h5/00005.h5
model/h5/00005.xmf
model/h5/00006.h5
model/h5/00006.xmf
model/h5/00007.h5
model/h5/00007.xmf
model/h5/00008.h5
model/h5/00008.xmf
model/h5/00009.h5
model/h5/00009.xmf
model/h5/00010.h5
model/h5/00010.xmf
model/h5/00011.h5
model/h5/00011.xmf
model/h5/00012.h5
model/h5/00012.xmf
model/h5/00013.h5
model/h5/00013.xmf
model/h5/00014.h5
model/h5/00014.xmf
model/h5/00015.h5
model/h5/00015.xmf
model/h5/00016.h5
model/h5/00016.xmf
model/h5/00017.h5
model/h5/00017.xmf
model/h5/00018.h5
model/h5/00018.xmf
model/h5/00019.h5
model/h5/00019.xmf
model/h5/00020.h5
model/h5/00020.xmf
model/h5/00021.h5
model/h5/00021.xmf
model/h5/00022.h5
model/h5/00022.xmf
model/h5/00023.h5
model/h5/00023.xmf
model/h5/00024.h5
model/h5/00024.xmf
model/h5/00025.h5
model/h5/00025.xmf
model/h5/00026.h5
model/h5/00026.xmf
model/h5/00027.h5
model/h5/00027.xmf
model/h5/00028.h5
model/h5/00028.xmf
model/h5/00029.h5
model/h5/00029.xmf
model/h5/00030.h5
model/h5/00030.xmf
model/h5/00031.h5
model/h5/00031.xmf
model/h5/00032.h5
model/h5/00032.xmf
model/h5/00033.h5
model/h5/00033.xmf
model/h5/00034.h5
model/h5/00034.xmf
model/h5/00035.h5
model/h5/00035.xmf
model/h5/00036.h5
model/h5/00036.xmf
model/h5/00037.h5
model/h5/00037.xmf
model/h5/00038.h5
model/h5/00038.xmf
model/h5/00039.h5
model/h5/00039.xmf
model/h5/00040.h5
model/h5/00040.xmf
model/h5/00041.h5
model/h5/00041.xmf
model/h5/00042.h5
model/h5/00042.xmf
model/h5/00043.h5
model/h5/00043.xmf
model/h5/00044.h5
model/h5/00044.xmf
model/h5/00045.h5
model/h5/00045.xmf
model/h5/00046.h5
model/h5/00046.xmf
model/h5/00047.h5
model/h5/00047.xmf
model/h5/00048.h5
model/h5/00048.xmf
model/h5/00049.h5
model/h5/00049.xmf
model/h5/00050.h5
model/h5/00050.xmf
model/h5/00051.h5
model/h5/00051.xmf
model/h5/00052.h5
model/h5/00052.xmf
model/h5/00053.h5
model/h5/00053.xmf
model/h5/00054.h5
model/h5/00054.xmf
model/h5/00055.h5
model/h5/00055.xmf
model/h5/00056.h5
model/h5/00056.xmf
model/h5/00057.h5
model/h5/00057.xmf
model/h5/00058.h5
model/h5/00058.xmf
model/h5/00059.h5
model/h5/00059.xmf
model/h5/00060.h5
model/h5/00060.xmf
model/h5/00061.h5
model/h5/00061.xmf
model/h5/00062.h5
model/h5/00062.xmf
model/h5/00063.h5
model/h5/00063.xmf
model/h5/00064.h5
model/h5/00064.xmf
model/h5/00065.h5
model/h5/00065.xmf
model/h5/00066.h5
model/h5/00066.xmf
model/h5/00067.h5
model/h5/00067.xmf
model/h5/00068.h5
model/h5/00068.xmf
model/h5/00069.h5
model/h5/00069.xmf
model/h5/00070.h5
model/h5/00070.xmf
model/h5/00071.h5
model/h5/00071.xmf
model/h5/00072.h5
model/h5/00072.xmf
model/h5/00073.h5
model/h5/00073.xmf
model/h5/00074.h5
model/h5/00074.xmf
model/h5/00075.h5
model/h5/00075.xmf
model/h5/00076.h5
model/h5/00076.xmf
model/h5/00077.h5
model/h5/00077.xmf
model/h5/00078.h5
model/h5/00078.xmf
model/h5/00079.h5
model/h5/00079.xmf
model/h5/00080.h5
model/h5/00080.xmf
model/h5/00081.h5
model/h5/00081.xmf
model/h5/00082.h5
model/h5/00082.xmf
model/h5/00083.h5
model/h5/00083.xmf
model/h5/00084.h5
model/h5/00084.xmf
model/h5/00085.h5
model/h5/00085.xmf
model/h5/00086.h5
model/h5/00086.xmf
model/h5/00087.h5
model/h5/00087.xmf
model/h5/00088.h5
model/h5/00088.xmf
model/h5/00089.h5
model/h5/00089.xmf
model/h5/00090.h5
model/h5/00090.xmf
model/h5/00091.h5
model/h5/00091.xmf
model/h5/00092.h5
model/h5/00092.xmf
model/h5/00093.h5
model/h5/00093.xmf
model/h5/00094.h5
model/h5/00094.xmf
model/h5/00095.h5
model/h5/00095.xmf
model/h5/00096.h5
model/h5/00096.xmf
model/h5/00097.h5
model/h5/00097.xmf
model/h5/00098.h5
model/h5/00098.xmf
_korali_result_tmcmc/
model/restart/dpd_wat.ParirwiseInt-00000.txt
model/restart/dpd_wat.ParirwiseInt-00001.txt
model/restart/dpd_wat.ParirwiseInt.txt
model/restart/simulation.state-00000.txt
model/restart/simulation.state-00001.txt
model/restart/simulation.state.txt
model/restart/stats0.plugin.post.stats0-00000.csv
model/restart/stats0.plugin.post.stats0-00001.csv
model/restart/stats0.plugin.post.stats0.csv
model/restart/stats1.plugin.post.stats1-00000.csv
model/restart/stats1.plugin.post.stats1-00001.csv
model/restart/stats1.plugin.post.stats1.csv
model/restart/stats2.plugin.post.stats2-00000.csv
model/restart/stats2.plugin.post.stats2-00001.csv
model/restart/stats2.plugin.post.stats2.csv
model/restart/stats3.plugin.post.stats3-00000.csv
model/restart/stats3.plugin.post.stats3-00001.csv
model/restart/stats3.plugin.post.stats3.csv
model/restart/stats4.plugin.post.stats4-00000.csv
model/restart/stats4.plugin.post.stats4-00001.csv
model/restart/stats4.plugin.post.stats4.csv
model/restart/stats5.plugin.post.stats5-00000.csv
model/restart/stats5.plugin.post.stats5-00001.csv
model/restart/stats5.plugin.post.stats5.csv
model/restart/stats6.plugin.post.stats6-00000.csv
model/restart/stats6.plugin.post.stats6-00001.csv
model/restart/stats6.plugin.post.stats6.csv
model/restart/stats7.plugin.post.stats7-00000.csv
model/restart/stats7.plugin.post.stats7-00001.csv
model/restart/stats7.plugin.post.stats7.csv
model/restart/stats8.plugin.post.stats8-00000.csv
model/restart/stats8.plugin.post.stats8-00001.csv
model/restart/stats8.plugin.post.stats8.csv
model/restart/stats9.plugin.post.stats9-00000.csv
model/restart/stats9.plugin.post.stats9-00001.csv
model/restart/stats9.plugin.post.stats9.csv
model/restart/stats10.plugin.post.stats10-00000.csv
model/restart/stats10.plugin.post.stats10-00001.csv
model/restart/stats10.plugin.post.stats10.csv
model/restart/water.PV-00000.h5
model/restart/water.PV-00000.xmf
model/restart/water.PV-00001.h5
model/restart/water.PV-00001.xmf
model/restart/water.PV.xmf
model/stats.csv
model/restart/
restart/
stats/
watch_tmcmc.png
stats.csv
watch_cmaes.png
model/velo/prof_100001.h5
model/velo/prof_100001.xmf
model/velo/prof_200002.h5
model/velo/prof_200002.xmf
model/velo/prof_300003.h5
model/velo/prof_300003.xmf
model/velo/prof_400004.h5
model/velo/prof_400004.xmf
model/velo/prof_500005.h5
model/velo/prof_500005.xmf
model/velo/prof_600006.h5
model/velo/prof_600006.xmf
model/velo/prof_700007.h5
model/velo/prof_700007.xmf
model/velo/prof_800008.h5
model/velo/prof_800008.xmf
model/velo/prof_900009.h5
model/velo/prof_900009.xmf
model/velo/prof_1000010.h5
model/velo/prof_1000010.xmf
model/velo/prof_1100011.h5
model/velo/prof_1100011.xmf
model/velo/prof_1200012.h5
model/velo/prof_1200012.xmf
model/velo/prof_1300013.h5
model/velo/prof_1300013.xmf
model/velo/prof_1400014.h5
model/velo/prof_1400014.xmf
model/velo/prof_1500015.h5
model/velo/prof_1500015.xmf
model/velo/prof_1600016.h5
model/velo/prof_1600016.xmf
model/velo/prof_1700017.h5
model/velo/prof_1700017.xmf
model/velo/prof_1800018.h5
model/velo/prof_1800018.xmf
model/velo/prof_1900019.h5
model/velo/prof_1900019.xmf
model/velo/a45.00_gamma150.00_power0.25/velo00000.h5
model/velo/
velo/
Hierarchical_UQ_water/model/__pycache__/mirheoViscosity.cpython-310.pyc
Hierarchical_UQ_water/model/__pycache__/mirheoCompressibility.cpython-310.pyc
BayesianInference_water/model/Fx_dep/runBatchJolly.sh
BayesianInference_water/model/Fx_dep/
BayesianInference_water/model/__pycache__/
BayesianInference_water/model/runBatchJolly.sh
BayesianInference_water/model/velo_prof.csv
BayesianInference_water/model/metaparam.dat
BayesianInference_water/visto_t.dat
Hierarchical_UQ_water/model/velo_prof.csv
Hierarchical_UQ_water/model/__pycache__/
Hierarchical_UQ_water/_setup/results_phase_1/
Hierarchical_UQ_water/virialstress/
Hierarchical_UQ_water/phase1_comp.png
Hierarchical_UQ_water/phase1_visco.png
BayesianInference_water/_korali_result_propagation/
BayesianInference_water/_korali_result_tmcmc_multiple_datapoints/
UncertaintyProp_water/credible_intervals.png
UncertaintyProp_water/sampling.png
UncertaintyProp_water/inspect.ipynb
UncertaintyProp_water/_korali_result_propagation/
UncertaintyProp_water/_setup/_korali_result_samples/
UncertaintyProp_water/model/__pycache__/
BayesianInference_water/korali.log
