Hierarchical_UQ_water/model/__pycache__/
Hierarchical_UQ_water/model/virialstress/
model/__pycache__/
velocities/
stress/
profiling.json
_korali_result_cmaes/
prof.png
profiling.json
watch.png
checkup.ipynb
log*
model/test_posteriorModel.py
model/velo_prof.csv
checkup.ipynb
.vscode/settings.json
model/__pycache__/mirheoModel.cpython-310.pyc
model/__pycache__/posteriorModel.cpython-310.pyc
model/parameters
model/h5/
_korali_result_tmcmc/
model/restart/
model/restart/
restart/
stats/
watch_tmcmc.png
stats.csv
watch_cmaes.png
model/velo/
velo/
Hierarchical_UQ_water/model/__pycache__/mirheoViscosity.cpython-310.pyc
Hierarchical_UQ_water/model/__pycache__/mirheoCompressibility.cpython-310.pyc
BayesianInference_water/model/Fx_dep/runBatchJolly.sh
BayesianInference_water/model/Fx_dep/
BayesianInference_water/model/__pycache__/
BayesianInference_water/model/runBatchJolly.sh
BayesianInference_water/model/velo_prof.csv
BayesianInference_water/model/metaparam.dat
BayesianInference_water/visto_t.dat
Hierarchical_UQ_water/model/velo_prof.csv
Hierarchical_UQ_water/model/__pycache__/
Hierarchical_UQ_water/_setup/results_phase_1/
Hierarchical_UQ_water/virialstress/
Hierarchical_UQ_water/phase1_comp.png
Hierarchical_UQ_water/phase1_visco.png
Hierarchical_UQ_water/_setup/
Hierarchical_UQ_water/_setup/
Hierarchical_UQ_water/model/test.ipynb
BayesianInference_water/_korali_result_propagation/
BayesianInference_water/_korali_result_tmcmc_multiple_datapoints/
UncertaintyProp_water/credible_intervals.png
UncertaintyProp_water/sampling.png
UncertaintyProp_water/inspect.ipynb
UncertaintyProp_water/_korali_result_propagation/
UncertaintyProp_water/_setup/_korali_result_samples/
UncertaintyProp_water/model/__pycache__/
BayesianInference_water/korali.log
UncertaintyProp_water/_setup/_korali_result_propagation/
UncertaintyProp_water/korali.log
BayesianInference_water_viscosity/data/data_density_viscosity_DPD.dat
BayesianInference_water_viscosity/model/__pycache__/
BayesianInference_EMB_buckling/model/__pycache__/

BayesianInference_water_viscosity/model/__pycache__/